*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

a:visited,
a:link,
a:active {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #5bacc3;
}
a.button-tab {
  color: white;
}

.image-section,
.main-navbar,
.Heading {
  display: inline-block;
  vertical-align: middle;
}

.main-navbar {
  vertical-align: bottom;
}
.main-navbar--list {
  display: inline-block;
}
.main-navbar--list {
  margin: 1.25rem;
}

.Navigation-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
