@import "./partials/global";

@keyframes color-change {
  from {
    background-color: #393939;
  }
  to {
    background-color: #5bacc3;
  }
}

@keyframes click {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(5px, 5px);
  }
}

/* Hero Section*/

html {
  margin: 0;
  padding: 0;
}
header {
  background-color: #fff0ed;
}

.hero-section {
  margin-left: 3.75rem;
  display: inline-block;
  width: 70%;
  margin-bottom: 3.75rem;

  &__text {
    width: 40%;
    text-align: left;
    padding-top: 0;
    margin-bottom: 2rem;
  }
}

.hero-picture,
.hero.div {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2.5rem;
}

/* Card Section*/

.card-section {
  display: inline-block;
  min-width: 25%;
  max-width: 30%;
  min-height: 27.5rem;
  max-height: 38.33rem;
  margin: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 5px 9px -1px;
  &__cost {
    color: #5bacc3;
    font-size: 1.8rem;
  }
  &__heading {
    margin-bottom: 0;
  }
  &__image {
    height: 18rem;
    margin-left: 6.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.2rem;
  }
}

.card-heading {
  text-align: center;
}
.product-div {
  display: flex;
  justify-content: space-around;
}
.card-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff0ed;
}

.card-subdiv {
  display: flex;
  flex-direction: column;
}

.quantity-div {
  padding-bottom: 2rem;
  padding-top: 0;
  margin-top: 0;
  color: grey;
}

/*Additional Information*/

.button-section {
  text-align: center;
  margin-top: 2rem;
}
.button-border:active,
.button-tab__shadow--div:active,
.button-border--div:active {
  animation: click 0.2s 0s;
}

.button-tab {
  padding: 1rem 2.5rem;
  background-color: #5bacc3;
  min-width: 11.25rem;
  max-width: 80%;
  position: relative;
  &__shadow--div {
    position: absolute;
    border: 2px solid black;
    height: 3.5rem;
    width: 10.5rem;
    left: 85px;
    top: 110.2rem;
  }
}
.button-border {
  position: absolute;
  border: 2px solid black;
  height: 3.5rem;
  width: 10.5rem;
  top: 22.7rem;
  left: 3.4rem;
  &--div {
    position: absolute;
    border: 2px solid black;
    height: 3.4rem;
    width: 9.6rem;
    left: 39.9rem;
    bottom: -35.5rem;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

/* Discount Section*/

.discount {
  background-color: #393939;
  color: white;
  padding: 0.5rem 1.25rem;
  text-align: center;
  font-size: 2.81rem;
  max-width: 90%;
  margin-top: 5rem;
  animation: color-change 2.5s;
  animation-iteration-count: infinite;
  &-div {
    height: 30rem;
    padding-left: 5.265rem;
    padding-top: 6rem;
  }
}
/* Article section */
.others-section__image {
  background-image: url("../Assets/images/coldbrewbackground.png");
  padding-left: 10rem;
  background-position: center;
  background-size: cover;
  width: 31.25rem;
  height: 25rem;
  padding-top: 6rem;
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 2s 0s;
  transition: -webkit-transform 2s 0s;
  transition: transform 2s 0s;
  transition: transform 2s 0s, -webkit-transform 2s 0s;
  &
.others-section__can:hover {
 -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.others-section__can {
  -webkit-transition: -webkit-transform 2s 0s;
  transition: -webkit-transform 2s 0s;
  transition: transform 2s 0s;
  transition: transform 2s 0s;
  position: relative;
  z-index: 6;
}
}




/* Footer Section*/

footer {
  background-color: #fff0ed;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

.footer-logo {
  opacity: 0.3;
  width: 8rem;
  position: relative;
  bottom: 2rem;
  left: -2.5rem;
  &__right {
    opacity: 0.3;
    width: 8rem;
    position: relative;
    bottom: -5rem;
    right: -2.5rem;
  }
}

span {
  font-weight: bold;
}
